<%- include("./../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Uppdatera 
            <!-- INLÄGGETS TITEL -->
        </h1>
        <div style="width: 30%; margin: 25px auto;">
             <!-- ERSÄTT ID MED INLÄGGETS ID--> 
            <form action="/posts/ID?_method=PUT" method="POST">
                <div class="form-group">
                       <!-- ERSÄTT # MED INLÄGGETS TITEL--> 
                    <input class="form-control" type="text" name="post[title]" placeholder="titel"
                        value="#">
                </div>
                <div class="form-group">
                     <!-- ERSÄTT # MED INLÄGGETS BILDADRESS --> 
                    <input class="form-control" type="text" name="post[image]" placeholder="bildadress" 
                    value="#">
                </div>
                <div class="form-group">
                        <!-- ERSÄTT # MED INLÄGGETS BODY (INNEHÅLL) --> 
                    <input class="form-control" type="text" name="post[body]" placeholder="innehåll"
                        value="#">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Skicka!</button>
                </div>
            </form>
            <a href="/posts">Gå tillbaka</a>
        </div>
    </div>
</div>

<%- include("./../partials/footer") %>